@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}

.menu{
    position:fixed;
    top:2vh;
    right:2vw;
    z-index:10;
}
.menu > h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 800;
    letter-spacing: 2px;
    width:25vw;
    text-align: center;
    color:#504e4e
}
.menu > div{
    width:25vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.menu > div > p{
    font-family: 'Open Sans';
    color:#949393;
    font-weight: 900;
}

.socials{
    position:absolute;
    top:20vh;
    left:0vw;
    width:5vw;
    height:60vh;
    display:grid;
    place-items: center;
    grid-template-rows: repeat(1fr, 6);
}
.socials > img{
    width:3vw;
    height:3vw;
    
}

.landing{
    width:100vw;
    height:120vw;
}
.landing > img{
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:120vw;
    object-fit: cover;
    z-index:-1;
}
.landing > div{
    display:grid;
    position: absolute;
    top:70vw;
    left:2vw;
    grid-template-rows: 5fr 2fr 1fr;
}
.landing > div > h1{
    font-family: 'Bodoni Moda';
    font-size: 4rem;
}
.landing > div > h2{
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 2rem;
    position:relative;
    top:40%;
    
}
.landing > div > h3{
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    left:3px;
    font-size:1rem;
}

.music{
    background-color: #504e4e;
    position:relative;
    width:100vw;
    height:150vh;
}
.music > div{
    width:100vw;
    height:150vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75vh 75vh;
}
.music > div > div{
    display:grid;
    height:50vh;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 2fr;
    place-items: center;
}
.music > div > div > p{
    font-family: 'Open Sans';
    text-align: left;
    width:60%;
    color:white;
    font-size: 1.5rem;
}
.aa{
    width:18vw;
    height:18vw;

}
.music > p{
    position:absolute;
    width:100%;
    top:75vh;
    text-align: center;
    font-family: 'Open Sans';
    color:white;
}

.about{
    width:100vw;
    height:100vh;
    background:#504e4e;
    display:grid;
    grid-template-columns: 35% 65%;
    grid-template-rows:100vh;
}
.about>img{
    width:35vw;
    height:100vh;
    object-fit: cover;
}
.about>div{
    width:65vw;
    height:100vh;
    position:relative;
}
.about > div > div{
    position:absolute;
    top:20vh;
    width:50vw;
    height:12vh;
    background:#c99a70;
    display:grid;
    align-items:center;
}
.about > div > div > h1{
    font-family: 'Bodoni Moda';
    text-transform: uppercase;
    color:white;
    font-size:3rem;
    margin-left:100px;
    font-weight:200;
}
.about > div > p{
    position:absolute;
    top:35vh;
    font-size:1rem;
    letter-spacing: 2px;
    width:calc(50vw - 100px);
    margin-left:100px;
    text-align: justify;
    font-family: 'Montserrat';
    color:white;
}