#title{
    position:absolute;
    z-index: 2500;
    left:0px;
    top:10vh;
    width:100vw;
    text-align:center;
    color:rgb(77, 77, 77);
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.hid{
    display:none;
}
.container{
    position:relative;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
}
#about p{
    width:60%;
    background-color:rgba(184, 51, 48,0.78);
    color:white;
    padding:20px;
    text-align: center;
}

#images{
    position:absolute;
    top:25vh;
    left:10vw;
    z-index: 2500;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:100%;
    overflow-y:auto;
    width:80vw;
    height:60vh;
    overflow-x:hidden;
}
.container:hover .o2 {
    opacity: 1;
}
#images img{
    width:100%;
}

#images h3{
    font-size: 2.5rem;
    width:100%;
    height:100%;
    text-align: center;
    filter: unset;
    color: azure;    
}
.o2{
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    background: rgba(179,0,0,0.4);
    transition:420ms ease;
    width:100%;
    opacity:0;
}
#apply{
    position:absolute;
    top:25vh;
    left:10vw;
    z-index: 2500;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 10vh 30vh 60vh;
    overflow-y:auto;
    overflow-x:hidden;
    width:80vw;
    height:60vh;
}
#apply h3{
    font-size: 2.5rem;
    color:white;
    width: 100%;
    
}
#apply p{
    color:white;
    width:60%;
    text-align: justify;
}
#contact{
    position:absolute;
    top:25vh;
    left:10vw;
    z-index: 2500;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 40vh;
    overflow-y:auto;
    overflow-x:hidden;
    background:var(--transp);
    width:80vw;
    height:60vh;
}
#contact p{
    color:white;
}
#contact h3{
    color:white;
    font-size: 2.5rem;
}
#contact div{
    grid-row-gap: 30px;
}
#services{
    position:absolute;
    top:25vh;
    left:0vw;
    z-index: 2500;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13% 87%;
    grid-gap: 10px;
    width:100vw;
    height:60vh;
}
.right.name{
    grid-row:2/3; grid-column: 1/2;
}
.left.name{
    grid-row:2/3; grid-column: 2/3;
}
.branch{
    position:absolute;
    padding:5px;
    background-color: rgba(184, 51, 48,0.24);
}
.name{
    width:100%;
}
.name > h2{
    width:70%;
    position:relative;
    left:30%;
    color: grey;
}
.name > p{
    width:80%;
    position:relative;
    text-align: justify;
    color: grey;
}
#services h3{
    font-size: 2rem;
    color:rgba(255,255,255,0.4);
}
#services h2{
    font-size:2.5rem;
}
#services p{
    color:white;
}
#services-left{
    position:absolute;
    width:5vh;
    top:50%;
    left:5vw;
}
#services-right{
    position:absolute;
    width:5vh;
    top:50%;
    right:5vw;
}
.red{
    background-color: red;
    color:green;
}
.green{
    background-color: green;
    color:red;
}
.butt:hover{
    filter: invert(1);
}