*{
    margin:0;
    padding:0;
}
:root{
    --primary:#740;
}
body, html {
    scroll-snap-type: y mandatory;
    width:99vw;
}
#menu{
    position:fixed;
    top:20px;
    right:25px;
    text-transform: uppercase;
    background:var(--primary);
    padding:7px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    cursor:pointer;
    z-index: 5;
}
#menu:hover{
    background:#ff0;
}
.section {
    height: 100vh;
    scroll-snap-align: start;
    position:relative;
}
body > h1{
    position:fixed;
    top:10%;
    color:var(--primary);
    width:99vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    transition: ease-in 600ms;
}
body > h1.minimized{
    top:5px;
    left:5px;
    width:clamp(20vw,22vw, 40vw);
    font-size:2rem;
}
#social{
    width:70vw;
    position:fixed;
    bottom:0;
    left:15vw;
    height:15vh;
    background:#7407;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(7,10vw);
    grid-template-rows: 15vh;
    place-items: center;
    transition:ease-in 500ms;
    border-radius: 50px 50px 0px 0px;
}
#social.minimized{
    height:7vh;
    width:28vw;
    left:5vw;
    grid-template-columns: repeat(7,4vw);
    grid-template-rows: 5vh;
}
.icon{
    width:8vh;
    height:8vh;
    transition:ease-in 420ms;
    cursor:pointer;
}
.icon.minimized{
    width:4vh;
    height:4vh;
}
.icon:hover{
    filter:invert(1);
    transform: translateY(-20%);
}
#landing{
    background-color: #012;
    display:grid;
    grid-template-rows: 20vh 80vh;
    grid-template-columns: 100vw;
    place-items: center;
}
#landing > p{
    grid-row: 2/3;
    width:60vw;
    text-align: justify;
    color:white;
}
#music{
    background-color:#322;
    display:grid;
    grid-template-columns: 29vw 40vw 29vw;
    grid-auto-rows:100vh;
    place-items: center;
}
#latest{
    background:black;
    width:20vw;
    height:20vw;
}
#latest-text{
    height:20vw;
    width:40vw;
}
#latest-text > h1{
    text-transform: uppercase;
    font-size:3rem;
}
#latest-text > h2{
    text-transform: uppercase;
    font-size:2rem;
}
#other-music{
    width:29vw;
    height:60vh;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}
.thumbnail{
    width:15vw;
    height:15vh;
}